__pycache__/
**/*.egg-info
.python-version
.idea/
.vscode/
.DS_Store
_build/
results/
__MACOSX
3rdparty
docker/*.tar.gz
docker/*.zip
envs/isaacgym
envs/dexteroushandenvs/assets/image_folder
outputs/
multirun/
debug_*.sh
setup_singularity.sh
tmp_results/
wandb_data/
plot.py
amlt/
.amlt*
docker/gym-pybullet-drones
wandb
wandb_sweep_config
*.sh